*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
*.sqlite3

# Git
.git
.gitignore

# Docker 
.docker

# Python 
app/__pycache__/
app/db.sqlite3
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env
.venv
venv/